-# @products.each do |product|
  .item.well.col-sm-5.col-sm-offset-1
    = truncate product.name, :length => 8

- count = 0
- while count < @products.count do
  .row
    - @products[count..count + 2].each do |product|
      .item.well.col-sm-3.col-sm-offset-1
        = product.name
        = product.materials.each { |m| m.price }
  - count += 3
