-# Placing each 3 elements in @products array into %div.row
- count = 0
- while count < @products.count do
  .row
    - @products[count..count + 2].each do |product|
      .item.col-sm-3.col-sm-offset-1.panel.panel-default
        = link_to product_path(product) do
          .image.panel-body
        .panel-footer
          -# Showing price and available count if product has a subset od items
          - if product.items.count > 0
            -# Items already sorted by price, so display first (cheapest) item
            = product.items[0].price
            %span.badge.pull-right
              = product.items[0].available
          - else
            = product.name
  - count += 3
